Repository cmhac/enforce-notebook-run-order: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pytest, force README.md build

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
      - id: nbqa-black
      - id: nbqa-pylint
        args: [--disable=C0114] # Disable missing-module-docstring for notebooks
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: pytest
        name: pytest
        entry: make test
        language: system
        types: [python]
      - id: force README.md build
        name: force README.md build
        entry: make README.md
        language: system
        types: [rst]

feat: catch errors in cli and use sys.exit(1) for cleaner outputs
  enforce_notebook_run_order/cli.py
  test/test_cli.py
Due: pylint, pytest

chore: bump minor version
  pyproject.toml
Due: none

docs: update docstrings
  enforce_notebook_run_order/cli.py
  enforce_notebook_run_order/enforce_notebook_run_order.py
  enforce_notebook_run_order/utils.py
Due: pylint, pytest

feat(ci): add new version to matrix
  .github/workflows/test.yaml
Due: none

docs: add contribution docs
  .github/workflows/auto-tag.yml
  README.md
  docs/.DS_Store
  docs/GITHUB_README.rst
  docs/contributing.rst
  docs/index.rst
Due: force README.md build

fix(docs): remove primary sidebar entirely
  docs/conf.py
Due: pylint, pytest

fix: add custom css to fix overlapping header items
  docs/_static/custom.css
  docs/conf.py
Due: pylint, pytest

chore: patch version
  pyproject.toml
Due: none

fix: handle empty cells in the middle of a notebook
  enforce_notebook_run_order/enforce_notebook_run_order.py
Due: pylint, pytest
